<%- include('./partials/header') %>

<div class="page-container">
	<div class="row">
		<div class="col-sm-8">
			<div class="first-blog">
				<a href="/blogs/<%=blogs[0]._id%>">
					<div class="card bg-dark text-white page-height">
		 				 <img src="<%=blogs[0].title_image_url%>" class="card-img" alt="...">
						 <div class="card-img-overlay">
						    <h5 class="card-title truncate"><%=blogs[0].title%></h5>
						    <p class="card-text truncate"><%=blogs[0].title_description%></p>
						    <p class="card-text last-element">Posted <%=blogs[0].date.toLocaleDateString()%> at <%=blogs[0].date.toLocaleTimeString()%></p>
						 </div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-sm-4 small-display">
			<div class="row">
				<div class="col">
					<a href="/blogs/<%=blogs[1]._id%>">
						<div class="card bg-dark text-white half-page-height">
			 				 <img src="<%=blogs[1].title_image_url%>" class="card-img" alt="...">
							 <div class="card-img-overlay">
							    <h5 class="card-title truncate"><%=blogs[1].title%></h5>
							    <p class="card-text truncate"><%=blogs[1].title_description%></p>
							    <p class="card-text last-element">Posted <%=blogs[1].date.toLocaleDateString()%> at <%=blogs[1].date.toLocaleTimeString()%></p>
							 </div>
						</div>
					</a>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<a href="/blogs/<%=blogs[2]._id%>">
						<div class="card bg-dark text-white half-page-height">
			 				 <img src="<%=blogs[2].title_image_url%>" class="card-img" alt="...">
							 <div class="card-img-overlay">
							    <h5 class="card-title truncate"><%=blogs[2].title%></h5>
							    <p class="card-text truncate"><%=blogs[2].title_description%></p>
							    <p class="card-text last-element">Posted <%=blogs[2].date.toLocaleDateString()%> at <%=blogs[2].date.toLocaleTimeString()%></p>
							 </div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row small-display">
		<%for(var i =3; i< blogs.length;i++){%>
			<div class="col-md-4">
				<a href="/blogs/<%=blogs[i]._id%>">
					<div class="card bg-dark text-white half-page-height">
		 				 <img src="<%=blogs[i].title_image_url%>" class="card-img" alt="...">
						 <div class="card-img-overlay">
						    <h5 class="card-title"><%=blogs[i].title%></h5>
						    <p class="card-text"><%=blogs[i].title_description%></p>
						    <p class="card-text last-element">Posted <%=blogs[i].date.toLocaleDateString()%> at <%=blogs[i].date.toLocaleTimeString()%></p>
						 </div>
					</div>
				</a>
			</div>
		<%}%>
	</div>
</div>



<%- include('./partials/footer') %>