<%- include('./partials/header') %>
	<div class="card bg-dark text-white title-content">
		<img src="<%=blog.title_image_url%>" class="card-img title-image" alt="...">
		<div class="card-img-overlay">
		    <h5 class="card-title title"><%=blog.title%></h5>
		    <p class="card-text title-description"><%=blog.title_description%></p>
		</div>
	</div>
	<div class="post-body">
		<div class="post-information">
			<h3 class="author">By <a id="author" href=""><%=blog.author%></a></h3>
			<h3 class="date-time-posted"><%=blog.date.toLocaleDateString()%> | <%=blog.date.toLocaleTimeString()%></h3>
		</div>
		<%for(var i =0; i<blog.subData.sub_heading.length; i++){%>
			<h2 class="sub-heading"><%=blog.subData.sub_heading[i]%></h2>
			<%blog.subData.blog_text[i].split('\n').forEach(function(paragraph){%>
				<p class="main-text"><%-paragraph%></p>
			<%});%>
			<div class="image-container center">
				<img class="body-image"src="<%=blog.subData.normal_image_url[i]%>">
				<p class="image-caption"><%=blog.subData.normal_image_caption[i]%></p>
			</div>
		<%}%>
	</div>
<%- include('./partials/footer') %>